h2{
   @extend.titulos;
}
li{ 
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:middle;
    color: rgb(204, 134, 145);
    list-style: none;
}

h3{
    color: rgb(165, 107, 117);
    margin-top: 15px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: middle;
}              


