h2{
   @extend.titulos;
}
li{ 
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:middle;
    color:$ColorLista;
    list-style: none;
}

h3{
    color: $ColorExtra;
    margin-top: 15px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: middle;
}              


