footer
{
    display:flex;
    justify-content: space-between;
background-color:$ColorPrincipal;
 font-size: 18px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-decoration: none;
margin-top: 300px;
background:linear-gradient(to right, rgb(224, 181, 187),rgba(209, 175, 175, 0.5),rgba(255,255,255))
 }
               
 h5{
     color:$ColorSecundario;

 }
a[href="http://www.facebook.com/pinkaa.uy"]{
    text-decoration: none;
   color:$ColorPrincipal;    
   &:hover{
       color:$ColorSecundario;
   }
   }


a[href="http://www.instagram.com/pinkaa.uy"]{
    text-decoration: none;
      color:$ColorPrincipal;
      &:hover{
        color:$ColorSecundario;
    }
     
}

.contactos{
    text-decoration: none;
    color:$ColorPrincipal;
}

