header{
    background:linear-gradient(to left, rgb(224, 181, 187),rgba(209, 175, 175, 0.5),
    rgba(255,255,255));
}

nav{
    color:$ColorPrincipal; 
    

        ul{
        list-style: none;
        display:flex;
        align-items: center;
    
            li{
            font-family:'Poppins', sans-serif ;
            font-size: 15px;
            color:$ColorPrincipal;
            padding:5px 14px;
            margin: 0 3px;
            cursor:pointer;
            list-style: none;

               a{ 
                   list-style: none;
                   text-decoration: none;
                   font-family:'Poppins', sans-serif;
         font-size: 18px;
         color:$ColorPrincipal;

             &:hover
             {
             color:$ColorTerciario;
            }

            }
        }
    }
}
