.hero{
    background-image:url(../images/macarons-5164a4e1e484d.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.novedades__titulo{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    grid-area:1/1/3/3;
    place-self: center;
    color:rgb(219, 81, 104);
    font-size: 40px;
}

.novedades-item{
    @include prueba (rgb(201, 129, 140));
  
    width: 280px;
    height: 230px;
  
    transition:all 500ms ease;
}

.novedades-item:hover{
    transform:scale(1.2);
}


svg{
    stroke:rgb(201,129,140);
}