.table{
  width: 350px;
   height: 500px;
   margin-top: 50px;
   padding: 30px;
   border-color: rgb(201, 129, 140);
   background-color: antiquewhite;
  border-style: solid;   
   }
  
  th{
   color:rgb(201, 129, 140);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  td{
  color:rgb(165, 107, 117);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
      
   tr td{
  text-align: center;
  list-style-type: none;
      }
               
  