
.container-all{
   margin-left: 50px;
    text-align: center;
    color:$ColorPrincipal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular',
     'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size: 40px;
   
     }
