*{
    margin:0;
    padding:0;
}

h5{
    color:rgb(201, 129, 140);
}
.navbar{
background:linear-gradient(to right, rgb(224, 181, 187),rgba(209, 175, 175, 0.5),rgba(255,255,255))
}
.navbar-toggler{
    color:rgb(201, 129, 140);
}
.navbar.nav{
    list-style: none;
    display:flex;
}
.nav.item{
    font-size: 15px;
    font-weight: bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    padding:5px 14px;
    margin: 0 3px;
    border-radius: 15px;
    background-color:rgb(165, 107, 117);
    cursor:pointer;
}
 .nav-link{
     color:rgb(219, 81, 104);
 }

.hero{
    background-image:url(./images/macarons-5164a4e1e484d.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
      
}


.novedades__titulo{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    grid-area:1/1/3/3;
    place-self: center;
    color:rgb(201, 129, 140);
    font-size: 40px;
}

.novedades-item{
    cursor:pointer;
    width: 280px;
    height: 230px;
    border-radius: 20px;
    transition:all 500ms ease;
  



}

.novedades-item:hover{
    transform:scale(1.2);
}
.trabajos{
display:grid;
grid-template-columns: repeat(3, 2fr);
 max-width:1200px ;
 gap:20px; 
 margin-left: 20px;
margin-top:60px;
margin-bottom: 40px;
border-radius: 20px;
border-style:dashed;
border-color: rgb(201, 129, 140);
}

.producto{
    font-size: 20px;
}

 table {
width: 500px;
 height: 400px;
  margin-top: 50px;
margin-bottom: 100px;
margin-left:150px;
 border-color: gray;
border-style: solid;   
 }

th{
 color:rgb(201, 129, 140);
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

td{
color:rgb(165, 107, 117);
font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

.precio{
color:rgb(201, 129, 140);
font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
                
 tr td{
text-align: center;
    }
               
.icono{
 margin-top:20px;
}

.informacion{
    border-radius: 10px;
    background-color:rgb(165, 107, 117); 
    color:blanchedalmond;
    border-style: solid;
    width: 300px;
  height: 250px;
 padding: 15px;
margin-top: 2px;
display:flex;
flex-direction:column;
justify-content: center;
align-items: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

                    h2{
                        color:rgb(201, 129, 140);
                        margin-top: 10px;
                    }
                         li{ 
                        display:flex;
                        flex-direction:column;
                        justify-content: center;
                        align-items:middle;
                        color: rgb(201, 129, 140);
                        list-style: none;
                    }
                    
                    h3{
                        color: rgb(165, 107, 117);
                        margin-top: 15px;
                        display:flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: middle;
                    }
                  
                
         
footer{
    display:flex;
    justify-content: space-between;
background-color:rgb(201, 129, 140); font-size: 18px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-decoration: none;
margin-top: 300px;
background:linear-gradient(to right, rgb(224, 181, 187),rgba(209, 175, 175, 0.5),rgba(255,255,255))
 }
               
 h5{
     color:rgb(219, 81, 104);

 }
a[href="http://www.facebook.com"]{
    text-decoration: none;
   color:rgb(201, 129, 140);
    
}
a[href="http://www.instagram.com"]{
    text-decoration: none;
      color:rgb(201, 129, 140);
     
}

.contactos{
    text-decoration: none;
    color:rgb(201, 129, 140);
}

                    @media(max-width: 760px) {
                        body{
                            font-size: 150%;
                        }
                    }

                          
                    @media(max-width:550px){
                        header nav{
                            display:none;
                        }
                    
                        header span{
                            display:inline-block;
                        }
                    }
     

                    @media(max-width:420px) {
                        body{
                        font-size:130% ;
                    }
                }