*{
    margin:0;
    padding:0;
}
body{
    background-color:rgb(243, 230, 203);
}
header{
    display:flex;
    justify-content: space-between;
    background-color:rgb(201, 129, 140);
    color:blanchedalmond;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

header span{
    display:none;
}
header nav ul{
    list-style: none;
    display:flex;
}
header nav ul li{
    font-size: 15px;
    font-weight: bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    padding:5px 14px;
    margin: 0 3px;
    border-radius: 15px;
    background-color:rgb(165, 107, 117);
    cursor:pointer;
    
}
 
.hero{
    background-image:url(./images/macarons-5164a4e1e484d.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    color:blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero_description{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
    color:blanchedalmond;

}

.novedades{
    max-width:1200px ;
    display: grid ;
    grid-template-columns: repeat(4,1fr);
    gap:20px; 
    margin-top:60px;
    margin-bottom: 40px;

}

.novedades_item{
    width: 280px;
    height: 230px;
    border-radius: 20px;
    border-style:dashed;
    border-color: rgb(201, 129, 140);
    cursor: pointer;
   
    
}


.novedades__titulo{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    grid-area:1/1/3/3;
    place-self: center;
    color:rgb(201, 129, 140);
    font-size: 30px;
}

a[href="/index.html"]{
    color: rgb(240, 184, 193);
    text-decoration: none;
    cursor:pointer;

    }
    a[href="/pages/mistrabajos.html"]{
    color: rgb(240, 184,193);
    text-decoration: none;
     cursor:pointer;
        }
     a[href="/pages/contacto.html"]{
     color: rgb(240, 184,193);
    text-decoration: none;
     cursor:pointer;
            }
            a[href="/pages/precios.html"]{
                color: rgb(240, 184,193);
                text-decoration: none;
                cursor:pointer;
                }
                a[href="/pages/Sobremi.html"]{
                    color: rgb(240, 184,193);
                    text-decoration: none;
                    cursor:pointer;
                    }



.trabajos{
display:grid;
grid-template-columns: repeat(3, 2fr);
 max-width:1200px ;
 gap:20px; 
 margin-left: 20px;
margin-top:60px;
margin-bottom: 40px;
border-radius: 20px;
border-style:dashed;
border-color: rgb(201, 129, 140);
}
.producto{
    font-size: 20px;
}


                   
            
                 table {
                     width: 500px;
                     height: 400px;
                     margin-top: 50px;
                     margin-bottom: 100px;
                     margin-left:150px;
                
                            border-color: gray;
                            border-style: solid;   
                        }
                th{
                    color:rgb(201, 129, 140);
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                }
                td{
                   
                    color:rgb(165, 107, 117);
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    
                }
                .precio{
                    color:rgb(201, 129, 140);
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                }
                
            tr td{
         text-align: center;
            }
               
.icono{
    margin-top:20px;
}
.informacion{
    border-radius: 10px;
    background-color:rgb(165, 107, 117); 
    color:blanchedalmond;
    border-style: solid;
    width: 300px;
  height: 250px;
 padding: 15px;
margin-top: 2px;
display:flex;
flex-direction:column;
justify-content: center;
align-items: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

                    h2{
                        color:rgb(201, 129, 140);
                        margin-top: 10px;
                    }
                    label{ 
                        color: rgb(201, 129, 140);
                     
         
                    }
                    p{
                        color: rgb(165, 107, 117);
                        margin-top: 15px;
                    }
                   
         input{
             cursor:pointer;
         }
         select{
             cursor: pointer;
             border-style: double;
             border-color: dimgray;
             border-radius: 5px;
             
         }
                    button{
                        border-style: double;
                        border-radius: 5px;
                        border-color: dimgray;
                        cursor: pointer;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                     
                    }
         



footer{

    display:flex;
    justify-content: space-between;
    background-color:rgb(201, 129, 140);
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    margin-top: 300px;
   
  
    
}
.Rrss{
    display:flex;
    justify-content: space-between;
    color:rgb(235, 209, 172);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Contact{
    display:flex;
    justify-content: space-between;
    color:rgb(235, 209, 172);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor:auto;
}

footer nav ol{
    list-style: none;
    display:flex;
       color:rgb(235, 209, 172);
  
}

footer nav ol li{
     list-style: none;
    font-size: 12px;
    font-weight: bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    padding:0px 8px;
    margin: 0 3px;
    color:rgb(235, 209, 172);
    cursor:pointer;

}
    
a[href="http://www.facebook.com"]{
    text-decoration: none;
   color:rgb(240, 180, 198);
    
}
a[href="http://www.instagram.com"]{
    text-decoration: none;
      color:rgb(240, 180, 198);
     
}

                    @media(max-width: 760px) {
                        body{
                            font-size: 150%;
                        }
                    }

                    @media(max-width:500px){
                        header nav{
                            display:none;
                        }
                    
                        header span{
                            display:inline-block;
                        }
                    }
     

                    @media(max-width:420px) {
                        body{
                        font-size:130% ;
                    }
                    
            }
